.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 9rem;
  font-family: "Valencia";
}

.subtitle {
  font-size: 2rem;
  font-family: "AvenirRoman";
}

.reveal {
  animation: move-up 1s ease-out;
}

.reveal2 {
  animation: move-up 1.5s ease-out;
}

.separator {
  width: 100%;
  height: 50vh;
}

@keyframes move-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
